.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.container h1{
  font-size: 50px;
  margin-top: 100px;
}
.container p{
  font-size: 20px;
  margin-bottom: 50px;
}

.container button{
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
